[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "*"
scipy = "*"
zsil = { editable = true, ref = "4b375cbbd2a958c329a1461a50e199ece54572e9", git = "https://github.com/RNLFoof/zsil.git" }
quads = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
