[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "*"
scipy = "*"
zsil = { editable = true, ref = "567072ad2d0f433f38607582da9a2d1a3dbc2b07", git = "https://github.com/RNLFoof/zsil.git" }
quads = "*"
tqdm = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
