[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "*"
scipy = "*"
zsil = { editable = true, ref = "57a096e8134c4e9d85dcc9afe67f7f943e8500c7", git = "https://github.com/RNLFoof/zsil.git" }
quads = "*"
tqdm = "*"
shapely = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
